<!DOCTYPE html>
<html lang="el" xml:lang="el">
  <head>
    <title>Πάλι γαμιέται η node.js...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">    
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
	<!-- <script src="http://code.jquery.com/jquery.js"></script> -->
	<script src="/javascripts/bootstrap.min.js"></script>	

	<div align=center>
	<img src="images/oua.png"/><br>
	<h1>Ντάξ, φίλε, κάτι χάλασε, άσε, μην το ψάχνεις</h1>
	<br>
		<a class="btn btn-primary" href="/">Να ξαναδοκιμάσουμε άλλη μια;</a>
		<a class="btn btn-primary" href="http://www.bigmelons.tv/eld/monster_melonen_titten.html">Άσε, γάμα το, πάω να χαζέψω κάνα μουνί</a>
		<a class="btn btn-primary" href="http://icanhas.cheezburger.com/">η καμμία γάτα καλύτερα;</a>
	</div>

  </body>
</html>