<!DOCTYPE html>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<html lang="el" xml:lang="el">
  <head>
    <title><%= set.headline %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-image:url(<%= set.background %>);background-repeat:no-repeat;background-size:cover">
    <script src="/javascripts/bootstrap.min.js"></script>	
    <script>
    	function getphrase() {
    		var httpRequest;
			if (window.XMLHttpRequest) { // Mozilla, Safari, ...
			    httpRequest = new XMLHttpRequest();
			} else if (window.ActiveXObject) { // IE 8 and older
			    httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
			}
			httpRequest.onreadystatechange = function(){
  				if (httpRequest.readyState === 4) {
					if (httpRequest.status === 200) {
					    var jo = httpRequest.responseText;
    					    obj = JSON && JSON.parse(jo) || $.parseJSON(jo);
					    txt = obj.phrase;
                                            headline = obj.headline;
					    document.getElementById('phrase').innerHTML = txt;
					    document.title = '' + headline;
					} else {
					    document.getElementById('phrase').innerHTML = 'ΤΟ ΚΑΤΕΣΤΗΜΕΝΟ ΜΑΣ ΣΑΜΠΟΤΑΡΕΙ! Η ΕΠΑΝΑΣΤΑΣΗ ΠΡΟΔΟΘΗΚΕ! Ο SERVER ΨΩΦΗΣΕ!';
					}
				}
			};
			httpRequest.open('GET', 'phrase', true);
			httpRequest.send(null);
    	}

    </script>

<br><br>
<% if (!printable || printable==0) { %>
    	<center><button class='btn-large primary' onclick='getphrase();'>VIVA LA REVOLUTION!</button></center><br>
	<center><button class='btn-large primary' onclick='window.location.reload()'>τι μαλακία αυτό το background!</button></center><br>
<% } else { %>
	<br><br>
<% } %>


<br><br><br><br><br><h1 id='phrase' class='title_class'><%= set.phrase %></h1><br><br>

<% if (!printable || printable==0) { %>

<!-- modal window for plese wait --> 

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-body">
<p><h3>Η κλήση σας προωθείται. Παρακαλώ, περιμένετε...</h3></p>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">ΟΚ, το'πιασα, θα περιμένω</button>
</div>
</div>

<div class="fb-like" data-href="http://penicuik.lala.gr:3000/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div><br><br>

<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a><br><br>

<a href="/spamit" class="btn btn-small" role="button" data-toggle="modal" onClick="$('#myModal').modal('show')">Γαμάει η οργάνωση! Θέλω να γίνω μέλος!</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<div class='note_class'>
    	<a href="http://wallbase.cc/"> 
    		original images from wallbase.cc
    	</a>
    </div>

    <div class='disclaimer_class tl'>
        <a href='#' onclick='alert("Διευκρίνιση για τους μαλάκες... THIS IS A FUCKING JOKE")'>DISCLAIMER!!!!</a>
    </div>

    <div class='disclaimer_class tr'>
        <a href='#' onclick='alert("Διευκρίνιση για τους μαλάκες... THIS IS A FUCKING JOKE")'>DISCLAIMER!!!!</a>
    </div>

    <div class='disclaimer_class br'>
        <a href='#' onclick='alert("Διευκρίνιση για τους μαλάκες... THIS IS A FUCKING JOKE")'>DISCLAIMER!!!!</a><br>
	created by Christos Ricudis, Rikafr Productions &lt;rikafr@paiko.net&gt;<br>
	with the help and inspiration of friends<br>
	<a href="https://bitbucket.org/ricudis/kourash">download source</a>
    </div>            

<% } else { %>

	   <div class='disclaimer_class tl'>
        <a href="http://wallbase.cc/">
                Original artwork: wallbase.cc<br>
		URL: http://penicuik.lala.gr/revolution/<br>
		Note: THIS IS A FUCKING JOKE<br>
        </a>
	    </div>


	<div class='disclaimer_class tr'>
		By: Rikafr Productions &lt;rikafr@paiko.net&gt<br>
		1000 kudos: (asteris,estarian)<br>
		Fucked by 1000 camels: (sivitos)<br>
	</div>
<% } %>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>	
  </body>
</html>
